Value NAME (\S+)
Value IP_LAN (\d+(\.\d+){3})
Value IP_WAN (\d+(\.\d+){3})
Value FW_INPUT (\S+\b)
Value FW_OUTPUT (\S+\b)
Value FW_FORWARD (\S+\b)



Start
  ^network.lan.ipaddr='${IP_LAN}
  ^network.wan.ipaddr='${IP_WAN}
  ^.*input='${FW_INPUT}
  ^.*output='${FW_OUTPUT}
  ^.*.forward='${FW_FORWARD}
  ^.*hostname='${NAME} -> Record