Value name (\S+)
Value lan_ip (\d+(\.\d+){3})
Value lan_mask (\d+(\.\d+){3})
Value fire_input (\S+\b)
Value fire_output (\S+\b)



Start
  ^network.lan.ipaddr='${lan_ip}
  ^network.lan.netmask='${lan_mask}
  ^.*input='${fire_input}
  ^.*output='${fire_output}
  ^.*hostname='${name} -> Record